@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-bg: #030303;
  --color-text: #fff;
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

section {
  margin: 1rem 0;
}

section#tavoli-w {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tavolo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid var(--color-light);
  display: inline-block;
  margin: 1rem;
  text-align: center;
  line-height: 100px;
  font-size: 2rem;
  color: var(--color-dark);
}

.x6 {
  background-color: var(--color-primary);
}

.x4 {
  background-color: var(--color-secondary);
}

.libero {
  background-color: var(--color-light);
}

.occupato {
  background-color: var(--color-danger);
}

.form-item {
  margin: 1rem 0;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--color-light);
  border-radius: 0.25rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-light);
  border-radius: 0.25rem;
  background-color: var(--color-light);
  color: var(--color-secondary);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

#message-status {
  color: var(--color-success);
}

#numero-persone-w {
  display: flex;
  justify-content: space-between;
}

header {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 1rem;
}

main {
  padding: 1rem;
}

footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 1rem;
}
